.loading-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1999;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba($color: white, $alpha: 0.6);
}

.loader {
	width: 68px;
	height: 68px;
	border: 6px solid;
	border-color: #ff3d00 transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
